# Database Configuration
MONGODB_URI=mongodb://localhost:27017/invensis-recruiters

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production

# Email Configuration (Gmail)
EMAIL_USER=testhrdp23@gmail.com
EMAIL_PASS=ujvdblbhpkxopqii


# Server Configuration
PORT=5001 